<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Stock Control</title>

    <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/atacama.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-datepicker.standalone.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/control.css}" />

    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>
    <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}" />-->

<div class="aw-layout-page">

    <div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>

    <div th:replace="layout/fragments/MenuLateral :: sidebar"></div>

    <section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>

    <div th:replace="layout/fragments/Footer :: footer"></div>

</div>
<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
<script th:src="@{/layout/javascripts/atacama.min.js}"></script>
    <script th:src="@{/javascripts/vendors/bootstrap-datepicker.min.js}"></script> <!--datepicker tem que ser importado antes do pt-BR -->
    <script th:src="@{/javascripts/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>

<script th:src="@{/javascripts/vendors/jquery.maskMoney.min.js}"></script>
    <script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>

<script th:src="@{/javascripts/stock.js}"></script>
    <script th:src="@{/javascripts/stock.dialogo-excluir.js}"></script>

    <th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>