<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Cadastro de cidade</title>
</head>

<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1 th:if="${cidade.nova}">Cadastro de cidade</h1>
                    <h1 th:unless="${cidade.nova}" th:text="|Edição da cidade - ${cidade.nome}|">Edição de cidade</h1>
                </div>

                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-default" th:href="@{/cidades}">
                            <i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisar cidade</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <th:block th:include="fragments/MensagensSucessoValidacao"></th:block>

        <form method="POST" th:object="${cidade}"
              th:action="${cidade.nova} ? @{/cidades/novo} : @{/cidades/{codigo}(codigo=${cidade.codigo})}">

            <th:block th:include="fragments/MensagensErroValidacao"></th:block>

            <input type="hidden" th:field="*{codigo}"/>

            <div class="row">
                <div class="col-sm-4 form-group" th:classappend="${#fields.hasErrors('estado')} ? has-error">
                    <label for="estado" class="control-label">Estado</label>
                    <div class="control-field-action">
                        <select id="estado" class="form-control" th:field="*{estado}">
                            <option value="">Selecione o estado</option>
                            <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}"></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-8 form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                    <label for="nome" class="control-label">Nome</label>
                    <input id="nome" type="text" class="form-control" th:field="*{nome}"/>
                </div>
            </div>

            <button type="submit" class="btn  btn-primary">Salvar</button>
        </form>
    </div>
</section>

</html>