<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://thymeleaf.org/extras/data"
      layout:decorate="~{layout/LayoutPadrao}"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Pesquisa de cidades</title>
</head>

<body>
<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de cidades</h1>
                </div>

                <div class="col-xs-2" sec:authorize-url="/cidades/novo">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-default" th:href="@{/cidades/novo}">
                            <i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Nova cidade</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <form method="GET" th:object="${cidadeFilter}">

            <div class="row">
                <div class="form-group  col-sm-4">
                    <label for="estado">Estado</label>
                    <select id="estado" class="form-control" th:field="*{estado}">
                        <option value="">Todos</option>
                        <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">Rio Grande do Sul</option>
                    </select>
                </div>

                <div class="form-group  col-sm-8">
                    <label class="control-label" for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
                </div>
            </div>

            <button type="submit" class="btn  btn-primary">Pesquisar</button>

        </form>

        <div class="table-responsive  control-tabela-simples">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th class="table-cidades-col-nome">Nome</th>
                    <th class="table-cidades-col-estado">Estado</th>
                    <th class="table-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')">Ações</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="cidade : ${cidades}">
                    <td th:text="${cidade.nome}">Cidade tal</td>
                    <td class="text-right" th:text="${cidade.estado.nome}">Rio Grande do Sul</td>
                    <td class="text-center" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')">
                        <a class="btn  btn-link  btn-xs js-tooltip" title="Editar"
                           th:href="@{/cidades/{codigo}(codigo=${cidade.codigo})}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#"
                            data:url="@{/cidades/{codigo}(codigo=${cidade.codigo})}"
                            data:objeto="${cidade.nome}">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(cidades)}">
                    <td colspan="7">Nenhuma cidade encontrada!</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-12 text-center">
            <nav>
                <ul class="pagination pagination-sm">
                    <li class="disabled">
                        <a href="#"><span>&laquo;</span></a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li class="disabled">
                        <a href="#"><span>&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</section>
</body>
</html>