/*
#####################
# UTILIDADES
#####################
*/
.control-glyphicon-large {
	font-size: 18px;
}

.control-required > .control-label:after {
	content: "*";
}

/*
#####################
# COMPONENTES
#####################
*/

/* Field Action */
.control-field-action {
	display: flex;
}

.control-field-action__icon {
	margin: 5px 0 0 5px;
}

/* Upload */
.control-upload {
	padding: 15px;

	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;

	text-align: center;
}

.control-upload-form-file {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin-bottom: 1px;
}

.control-upload-form-file > input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	opacity: 0;
	cursor: pointer;

	font-size: 500px;
}

/* Tabela Simples - pesquisa de vinhos */
.control-tabela-simples {
	margin-top: 15px;
}

.control-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.control-tabela-simples table tr td {
	border-top: none;
	border-bottom: 1px solid #e7eaec;
	padding: 10px;
	vertical-align: middle;
}

/* Colunas - Pesquisa de Vinhos */
.table-vinhos-col-foto {
	min-width: 50px;
	width: 50px
}

.table-vinhos-col-sku {
	width: 90px;
	text-align: center;
}

.table-vinhos-col-nome {

}

.table-vinhos-col-tipo {
	width: 120px;
}

.table-vinhos-col-origem {
	width: 100px;
}

.table-vinhos-col-valor {
	width: 100px;
	text-align: right;
}

.table-vinhos-col-acoes {
	width: 80px;
}
/* Colunas comuns */
.table-col-acoes {
	width: 80px;
}

/* Colunas - Pesquisa de Clientes */
.table-clientes-col-nome {

}

.table-clientes-col-tipo-pessoa {
	width: 120px;
	text-align: center;
}

.table-clientes-col-cpf-cnpj {
	width: 140px;
	text-align: right;
}

.table-clientes-col-telefone {
	width: 140px;
	text-align: right;
}

.table-clientes-col-cidade-estado {
	width: 140px;
	text-align: right;
}

/* Colunas - Pesquisa de cidades */
.table-cidades-col-nome {

}

.table-cidades-col-estado {
	width: 140px;
	text-align: right;
}

/* venda */
.control-tabela-vinhos {
	margin-bottom: 15px;
}

.control-tabela-vinhos__vazio {
	padding: 15px 15px;

	border: 1px dashed #ddd;

	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	color: #555;
}

/*BUG CHECKBOX CADASTRO DE USUARIO */
.checkbox input[type="checkbox"]:checked + input + label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
}


