<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      xmlns:data="http://wwww.thymeleaf.org/extras/data"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Cadastro de cliente</title>
</head>

<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1 th:if="${cliente.nova}">Cadastro de cliente</h1>
                    <h1 th:unless="${cliente.nova}" th:text="|Edição do cliente - ${cliente.nome}|">Edição de cliente</h1>
                </div>

                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-default" th:href="@{/clientes}">
                            <i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisar cliente</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <th:block th:include="fragments/MensagensSucessoValidacao"></th:block>

        <!--th:action="@{/clientes/novo}"-->
        <form method="POST" th:object="${cliente}"
              th:action="${cliente.nova} ? @{/clientes/novo} : @{/clientes/{codigo}(codigo=${cliente.codigo})}">

            <th:block th:include="fragments/MensagensErroValidacao"></th:block>

            <input type="hidden" th:field="*{codigo}"/>

            <div class="row">
                <div class="form-group  col-sm-12" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                    <label for="nome" class="control-label">Nome</label>
                    <input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-4" th:classappend="${#fields.hasErrors('tipoPessoa')} ? has-error">
                    <label class="control-label">Tipo pessoa</label>
                    <div>
                        <th:block th:each="tipoPessoa : ${tiposPessoa}">
                            <div class="radio  radio-inline">
                                <input type="radio" th:id="|id${tipoPessoa}|" class="js-radio-tipo-pessoa"
                                       th:field="*{tipoPessoa}" th:value="${tipoPessoa}" data:documento="${tipoPessoa.documento}" data:mascara="${tipoPessoa.mascara}">
                                <label class="control-label" th:for="|id${tipoPessoa}|" th:text="${tipoPessoa.descricao}">Física</label>
                            </div>
                        </th:block>
                    </div>
                </div>

                <div class="form-group  col-sm-8" th:classappend="${#fields.hasErrors('cpfOuCnpj')} ? has-error">
                    <label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
                    <input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpj}" disabled/>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-4" th:classappend="${#fields.hasErrors('telefone')} ? has-error">
                    <label for="telefone" class="control-label">Telefone</label>
                    <input type="text" class="form-control js-phone-number" id="telefone" th:field="*{telefone}"/>
                </div>

                <div class="form-group  col-sm-8" th:classappend="${#fields.hasErrors('email')} ? has-error">
                    <label for="email" class="control-label">E-mail</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-4">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro" th:field="*{endereco.logradouro}"/>
                </div>

                <div class="form-group  col-sm-4">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" th:field="*{endereco.numero}"/>
                </div>

                <div class="form-group  col-sm-4">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" th:field="*{endereco.complemento}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-4">
                    <label for="cep">CEP</label>
                    <input type="text" class="form-control js-cep" id="cep" th:field="*{endereco.cep}"/>
                </div>

                <div class="form-group  col-sm-4">
                    <label for="estado">Estado</label>
                    <select id="estado" class="form-control" th:field="*{endereco.estado}">
                        <option value="">Selecione o estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">Rio Grande do Sul</option>
                    </select>
                </div>

                <div class="form-group  col-sm-4">
                    <label  for="cidade">Cidade</label>
                    <div class="control-field-action">
                        <input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.codigo}"/>
                        <select id="cidade" class="form-control" data:url="@{/cidades}" th:field="*{endereco.cidade}">
                        </select>
                        <div class="control-field-action__icon  js-img-loading" style="display: none">
                            <img th:src="@{/images/mini-loading.gif}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn  btn-primary" type="submit">Salvar</button>
            </div>
        </form>
    </div>
</section>

<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/cliente.mascara-cpf-cnpj.js}"></script>
    <script th:src="@{/javascripts/cliente.combo-estado-cidade.js}"></script>
</th:block>

</html>