<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://wwww.thymeleaf.org/extras/data"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Pesquisa de clientes</title>
</head>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de clientes</h1>
                </div>

                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn  btn-default" th:href="@{/clientes/novo}">
                            <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo cliente</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <form method="GET" th:object="${clienteFilter}">
            <div class="row">
                <div class="form-group  col-sm-8">
                    <label class="control-label" for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
                </div>

                <div class="form-group  col-sm-4">
                    <label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
                    <input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpj}"/>
                </div>
            </div>

            <button type="submit" class="btn  btn-primary">Pesquisar</button>
        </form>

        <div class="table-responsive  control-tabela-simples">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th class="table-clientes-col-nome">Nome</th>
                    <th class="table-clientes-col-tipo-pessoa">Tipo Pessoa</th>
                    <th class="table-clientes-col-cpf-cnpj">CPF/CNPJ</th>
                    <th class="table-clientes-col-telefone">Telefone</th>
                    <th class="table-clientes-col-cidade-estado text-right" >Cidade/Estado</th>
                    <th class="table-col-acoes">Ações</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nome}"></td>
                    <td class="text-center" th:text="${cliente.tipoPessoa.descricao}">Física</td>
                    <td class="text-right" th:text="${cliente.cpfOuCnpj}">111.111.111-11</td>
                    <td class="text-right" th:text="${cliente.telefone}">(11) 99999-9999</td>
                    <td class="text-right" th:text="${cliente.endereco.nomeCidadeSiglaEstado}">aaaaaaa</td>

                    <td class="text-center">
                        <a class="btn  btn-link  btn-xs js-tootip" title="Editar"
                           th:href="@{/clientes/{codigo}(codigo=${cliente.codigo})}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="btn  btn-link  btn-xs js-tootip js-exclusao-btn" title="Excluir" href="#"
                           data:url="@{/clientes/{codigo}(codigo=${cliente.codigo})}"
                           data:objeto="${cliente.nome}">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(clientes)}">
                    <td colspan="5">Nenhum cliente encontrado</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>
</body>
</html>