<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">
        //xmlns:th="http://www.thymeleaf.org" -> não funciona, problema com a versão do intellij
<head>
    <title>Cadastro de vinho</title>

    <link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
</head>
<body>
<section layout:fragment="conteudo">

            <div class="page-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-10">
                            <h1 th:if="${vinho.nova}">Cadastro de vinho</h1>
                            <h1 th:unless="${vinho.nova}" th:text="|Edição do produto - ${vinho.nome}|">Edição de vinho</h1>
                        </div>

                        <div class="col-xs-2">
                            <div class="aw-page-header-controls">
                                <a class="btn btn-default" th:href="@{/vinhos}">
                                    <i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisar vinho</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <th:block th:include="fragments/MensagensSucessoValidacao"></th:block>

                <form method="POST" th:object="${vinho}" class="form-vertical  js-form-loading"
                        th:action="${vinho.nova} ? @{/vinhos/novo} : @{/vinhos/{codigo}(codigo=${vinho.codigo})}">

                    <th:block th:include="fragments/MensagensErroValidacao"></th:block>

                    <input type="hidden" th:field="*{codigo}"/>

                    <div class="row">
                        <div class="col-sm-2 form-group" th:classappend="${#fields.hasErrors('sku')} ? has-error">
                                <label for="sku" class="control-label">SKU</label>
                                <input id="sku" type="text" class="form-control" th:field="*{sku}"/>
                        </div>
                        <div class="col-sm-8 form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                                <label for="nome" class="control-label">Nome</label>
                                <input id="nome" type="text" class="form-control" th:field="*{nome}"/>
                        </div>
                        <div class="col-sm-2 form-group" th:classappend="${#fields.hasErrors('valor')} ? has-error">
                            <label for="valor" class="control-label">Valor unitário</label>
                            <div class="input-group">
                                <div class="input-group-addon">R$</div>
                                <input id="valor" type="text" class="form-control js-decimal" th:field="*{valor}"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 form-group" th:classappend="${#fields.hasErrors('tipo')} ? has-error">
                                <label for="tipo" class="control-label">Tipo</label>
                                <div class="control-field-action">
                                    <select id="tipo" class="form-control" th:field="*{tipo}">
                                        <option value="">Selecione o tipo</option>
                                        <option th:each="tipo : ${tipos}" th:value="${tipo.codigo}" th:text="${tipo.nome}"></option>
                                    </select>

                                    <div class="control-field-action__icon">
                                        <a href="#" data-toggle="modal" data-target="#modalCadastroRapidoTipo">
                                            <i class="glyphicon glyphicon-plus-sign control-glyphicon-large"></i>
                                        </a>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-4 form-group" th:classappend="${#fields.hasErrors('uva')} ? has-error">
                            <label for="uva" class="control-label">Uva</label>
                            <select id="uva" class="form-control" th:field="*{uva}">
                                <option value="">Selecione a uva</option>
                                <option th:each="uva : ${uvas}" th:value="${uva}" th:text="${uva.descricao}"></option>
                            </select>
                        </div>
                        <div class="col-lg-3  col-sm-6  form-group" th:classappend="${#fields.hasErrors('origem')} ? has-error">
                            <label for="origem" id="origem" class="control-label">Origem</label>
                            <div>
                                <th:block th:each="origem : ${origens}">
                                    <div class="radio  radio-inline">
                                        <input th:id="|id_${origem}|" type="radio" th:value="${origem}" th:field="*{origem}">
                                        <label th:for="|id_${origem}|" th:text="${origem.descricao}">Nacional</label>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
                        <label for="descricao" class="control-label">Descrição</label>
                        <textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 form-group" th:classappend="${#fields.hasErrors('teorAlcoolico')} ? has-error">
                            <label for="teorAlcoolico" class="control-label">Teor alcoólico</label>
                            <div class="input-group">
                                <input id="teorAlcoolico" type="text" class="form-control js-decimal" th:field="*{teorAlcoolico}"/>
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group" th:classappend="${#fields.hasErrors('comissao')} ? has-error">
                            <label for="comissao" class="control-label">Comissão</label>
                            <div class="input-group">
                                <input id="comissao" type="text" class="form-control js-decimal" th:field="*{comissao}"/>
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group" th:classappend="${#fields.hasErrors('quantidadeEstoque')} ? has-error">
                            <label for="estoque" class="control-label">Estoque</label>
                                <input id="estoque" type="text" class="form-control js-plain" th:field="*{quantidadeEstoque}"/>
                        </div>
                        <div class="col-sm-2 form-group" th:classappend="${#fields.hasErrors('estoqueMinimo')} ? has-error">
                            <label for="estoqueMinimo" class="control-label">Estoque Mínimo</label>
                            <input id="estoqueMinimo" type="text" class="form-control js-plain" th:field="*{estoqueMinimo}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <input type="hidden" th:field="*{foto}"/>
                            <input type="hidden" th:field="*{contentType}"/>

                            <label class="control-label">Foto</label>

                            <div class="row  js-foto-vinho hidden">
                                 <div class="col-md-4"></div>
                                <div class="col-md-4  text-center">
                                    <input id="pageContext" type="hidden" th:value="@{/}" />
                                    <a href="#" class="thumbnail" id="container-foto">
                                    </a>
                                    <button type="button" class="btn  btn-link  js-remove-foto">
                                        <span class="glyphicon  glyphicon-remove"></span>
                                    </button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>

                            <div id="upload-drop" class="control-upload">
                                <i class="glyphicon  glyphicon-cloud-upload"></i>
                                <span>Arraste a foto aqui ou </span>
                                <a class="control-upload-form-file">
                                    selecione
                                    <input id="upload-select" type="file" accept=".jpg,.jpeg,.png" />
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <button class="btn  btn-primary" type="submit">Salvar</button>
                    </div>
                </form>
            </div>

    <div th:replace="tipo/CadastroRapidoTipo :: modal"></div>
</section>

<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
    <script th:src="@{/javascripts/vendors/upload.min.js}"></script>

    <script>
        $(function() {
            var settings = {
                type: 'json',
                filelimit: 1,
                allow: '*.(jpg|jpeg|png)',
                action: '/stock/fotos',
                complete: function(resposta){
                    var inputNomeFoto = $('input[name=foto]');
                    var inputContentType = $('input[name=contentType]');
                    var contexto = $('#pageContext').val();
                    var container = $('.js-foto-vinho');
                    var containerFoto = $('#container-foto');
                    var uploadDrop = $('#upload-drop');

                    inputNomeFoto.val(resposta.nome);
                    inputContentType.val(resposta.contentType);

                    containerFoto.append("<img src='" + contexto +"stock/fotos/temp/" + resposta.nome +"' class='imgFoto'></img>");
                    container.removeClass('hidden');
                    uploadDrop.addClass('hidden');

                    $('.js-remove-foto').on('click', function(){
                        $('.imgFoto').remove();
                        container.addClass('hidden');
                        uploadDrop.removeClass('hidden');
                        inputNomeFoto.val('');
                        inputContentType.val('');
                    });
                }
            };

            UIkit.uploadSelect($('#upload-select'), settings);
            UIkit.uploadDrop($('#upload-drop'), settings);
        });
    </script>
</th:block>
</body>
</html>