<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://wwww.thymeleaf.org/extras/data"
      layout:decorate="~{layout/LayoutPadrao}"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity4">>
<head>
    <title>Pesquisa de vinhos</title>
</head>

<body>
<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de vinhos</h1>
                </div>

                <div class="col-xs-2" sec:authorize="hasRole('ROLE_CADASTRAR_VINHO')">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-default" th:href="@{/vinhos/novo}">
                            <i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Novo vinho</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <form method="GET" th:object="${vinhoFilter}">

            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="sku">SKU</label>
                    <input type="text" class="form-control" id="sku" autofocus="autofocus" th:field="*{sku}"/>
                </div>

                <div class="form-group  col-sm-6" >
                    <label class="control-label" for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" th:field="*{nome}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="tipo">Tipo</label>
                    <select id="tipo" class="form-control" th:field="*{tipo}">
                        <option value="">Todos os tipos</option>
                        <option th:each="tipo : ${tipos}" th:text="${tipo.nome}" th:value="${tipo.codigo}"></option>
                    </select>
                </div>

                <div class="form-group  col-sm-6">
                    <label class="control-label" for="uva">Uva</label>
                    <select id="uva" class="form-control" th:field="*{uva}">
                        <option value="">Todas as uvas</option>
                        <option th:each="uva : ${uvas}" th:value="${uva}" th:text="${uva.descricao}"></option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label">Origem</label>
                    <div>
                        <th:block th:each="origem : ${origens}">
                            <div class="radio  radio-inline">
                                <input th:id="|id_${origem}|" type="radio" th:value="${origem}" th:field="*{origem}"/>
                                <label th:for="|id_${origem}|" th:text="${origem.descricao}">Nacional</label>
                            </div>
                        </th:block>
                        <div class="radio  radio-inline">
                            <input id="todasOrigens" type="radio" th:checked="*{origem} == null" name="origem"/>
                            <label for="todasOrigens" >Todas</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6  form-group">
                    <label for="valorDe">Preço unitário</label>
                    <div class="form-inline">
                        <input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorDe" th:field="*{valorDe}"/>
                        <label for="valorAte" class="aw-form-label-between">até</label>
                        <input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorAte" th:field="*{valorAte}"/>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn  btn-primary">Pesquisar</button>

        </form>

        <div class="table-responsive  control-tabela-simples">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th class="table-vinhos-col-foto"></th>
                    <th class="table-vinhos-col-sku">SKU</th>
                    <th class="table-vinhos-col-nome">Nome</th>
                    <th class="table-vinhos-col-tipo">Tipo</th>
                    <th class="table-vinhos-col-origem">Origem</th>
                    <th class="table-vinhos-col-valor">Valor</th>
                    <th class="table-vinhos-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_VINHO')">Ações</th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="vinho : ${vinhos}">
                        <td class="text-center">
                            <img th:src="@{stock/fotos/thumbnail.{foto}(foto=${vinho.fotoOuMock})}" class="img-responsive"/>
                        </td>
                        <td class="text-center" th:text="${vinho.sku}">AA1234</td>
                        <td th:text="${vinho.nome}">Bodegas Ramirez Rioja Reserva Tempranillo 2010</td>
                        <td th:text="${vinho.tipo.nome}">Tinto </td>
                        <td th:text="${vinho.origem.descricao}">Internacional</td>
                        <td class="text-right" th:text="|R$ ${vinho.valor}|">R$ 180.00</td>
                        <td class="text-center" sec:authorize="hasRole('ROLE_CADASTRAR_VINHO')">
                            <a class="btn  btn-link  btn-xs js-tooltip" title="Editar"
                               th:href="@{/vinhos/{codigo}(codigo=${vinho.codigo})}">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#"
                               data:url="@{/vinhos/{codigo}(codigo=${vinho.codigo})}"
                               data:objeto="${vinho.nome}">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(vinhos)}">
                        <td colspan="7">Nenhum vinho encontrado!</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-12 text-center">
            <nav>
                <ul class="pagination pagination-sm">
                    <li class="disabled">
                        <a href="#"><span>&laquo;</span></a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li class="disabled">
                        <a href="#"><span>&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</section>
</body>
</html>