<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Cadastro de estado</title>
</head>

<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1 th:if="${estado.nova}">Cadastro de estado</h1>
                    <h1 th:unless="${estado.nova}" th:text="|Edição do estado - ${estado.nome}|">Edição de estado</h1>
                </div>

                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-default" th:href="@{/estados}">
                            <i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisar estado</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <th:block th:include="fragments/MensagensSucessoValidacao"></th:block>

        <form method="POST" th:object="${estado}"
              th:action="${estado.nova} ? @{/estados/novo} : @{/estados/{codigo}(codigo=${estado.codigo})}">

            <th:block th:include="fragments/MensagensErroValidacao"></th:block>

            <input type="hidden" th:field="*{codigo}"/>

            <div class="row">
                <div class="form-group  col-sm-8" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                    <label for="nome" class="control-label">Nome</label>
                    <input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
                </div>

                <div class="form-group  col-sm-4" th:classappend="${#fields.hasErrors('sigla')} ? has-error">
                    <label for="sigla" class="control-label">Sigla</label>
                    <input type="text" class="form-control" id="sigla" autofocus="autofocus" th:field="*{sigla}"/>
                </div>
            </div>

            <button type="submit" class="btn  btn-primary">Salvar</button>
        </form>
    </div>
</section>

</html>