<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://wwww.thymeleaf.org/extras/data"
      layout:decorate="~{layout/LayoutPadrao}"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Pesquisa de estados</title>
</head>

<body>
<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de estados</h1>
                </div>

                <div class="col-xs-2" sec:authorize="hasRole('ROLE_CADASTRAR_ESTADO')">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-default" th:href="@{/estados/novo}">
                            <i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Novo estado</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <form method="GET" th:object="${estadoFilter}">

            <div class="row">
                <div class="form-group  col-sm-12">
                    <label class="control-label" for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
                </div>
            </div>

            <button type="submit" class="btn  btn-primary">Pesquisar</button>

        </form>

        <div class="table-responsive  control-tabela-simples">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th class="table-tipos-col-nome">Nome</th>
                    <th class="table-vinhos-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_ESTADO')">Ações</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="estado : ${estados}">
                    <td th:text="${estado.nome}">Estado tal</td>
                    <td class="text-center" sec:authorize="hasRole('ROLE_CADASTRAR_ESTADO')">
                        <a class="btn  btn-link  btn-xs js-tooltip" title="Editar"
                           th:href="@{/estados/{codigo}(codigo=${estado.codigo})}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#"
                            data:url="@{/estados/{codigo}(codigo=${estado.codigo})}"
                            data:objeto="${estado.nome}">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(estados)}">
                    <td colspan="7">Nenhum estado encontrado!</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-12 text-center">
            <nav>
                <ul class="pagination pagination-sm">
                    <li class="disabled">
                        <a href="#"><span>&laquo;</span></a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li class="disabled">
                        <a href="#"><span>&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</section>
</body>
</html>