<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Stock Control</title>

    <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/atacama.min.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>

<body class="aw-layout-simple-page">
<div class="aw-layout-simple-page__container">

    <div class="aw-error-panel">
        <h1 class="aw-error-panel__code">
            <i class="fa  fa-location-arrow"></i>404
        </h1>

        <h2 class="aw-error-panel__title">Página não encontrada</h2>

        <div class="aw-error-panel__description">
            Desculpe, a página que você tentou acessar não foi encontrada ou não existe.
            Se você acha que isso é um engano, entre em contato com o administrador.
            <br/><br/>
            <a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
        </div>
    </div>

</div>

</body>
</html>